In [6]:
import pandas as pd
import numpy as np

# Cargar el CSV
ruta = 'C:/Users/anoni/Documents/GitHub/desafio_tripulaciones/data/processed/actividades_infantiles_madrid_19-04-2025.csv'
df = pd.read_csv(ruta)

# Limpiar los nombres de las columnas (eliminar espacios en blanco)
df.columns = df.columns.str.strip()

In [7]:
# Crear el archivo CREATE TABLE
with open('create_table.sql', 'w', encoding='utf-8') as f:
    f.write("""-- Script para crear la tabla actividades_infantiles

CREATE TABLE actividades_infantiles (
    id SERIAL PRIMARY KEY,
    titulo TEXT NOT NULL,
    tipo TEXT,
    lugar TEXT,
    distrito TEXT,
    fecha_inicio TEXT,
    fecha_fin TEXT,
    url TEXT
);
""")

# Crear el archivo INSERT
with open('insert_data.sql', 'w', encoding='utf-8') as f:
    f.write("-- Script para insertar datos en la tabla actividades_infantiles\n\n")
    for i, row in df.iterrows():
        # Escapar comillas simples en los valores de texto
        titulo = str(row['titulo']).replace("'", "''")
        tipo = str(row['tipo']).replace("'", "''")
        lugar = str(row['lugar']).replace("'", "''")
        distrito = str(row['distrito']).replace("'", "''")
        fecha_inicio = str(row['fecha_inicio']).replace("'", "''")
        fecha_fin = str(row['fecha_fin']).replace("'", "''")
        url = str(row['url']).replace("'", "''")
        
        # Escribir la sentencia INSERT
        insert_stmt = f"""
INSERT INTO actividades_infantiles (titulo, tipo, lugar, distrito, fecha_inicio, fecha_fin, url)
VALUES (
    '{titulo}',
    '{tipo}',
    '{lugar}',
    '{distrito}',
    '{fecha_inicio}',
    '{fecha_fin}',
    '{url}'
);
"""
        f.write(insert_stmt)

print("Se han creado los archivos 'create_table.sql' y 'insert_data.sql'")

Se han creado los archivos 'create_table.sql' y 'insert_data.sql'