# M칩delos Machine Learning

## Carga de los datos guardados previamente

### 1. carga dataframe "original"

In [20]:
# seleccionar la fecha del csv en el caso de haber datos m치s recientes
import os
import pandas as pd
# Definir ruta del archivo
directorio = '../data/processed/'
nombre_archivo_trabajo = 'actividades(261)_detalles_depurado2_02mayo2025.csv'
ruta_archivo_trabajo = os.path.join(directorio, nombre_archivo_trabajo)

df_original = pd.read_csv(ruta_archivo_trabajo)

In [24]:
df_original = df_original.convert_dtypes()
df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   t칤tulo                261 non-null    string
 1   descripci칩n           237 non-null    string
 2   categor칤a             261 non-null    string
 3   subcategor칤a          261 non-null    string
 4   edad_min              156 non-null    Int64
 5   edad_max              156 non-null    Int64
 6   requiere_inscripcion  63 non-null     boolean
 7   periodicidad          16 non-null     string
 8   d칤a_d칤as              259 non-null    string
 9   hora_inicio           236 non-null    string
 10  hora_fin              38 non-null     string
 11  fecha_inicio          256 non-null    string
 12  fecha_fin             256 non-null    string
 13  ciudad                261 non-null    string
 14  distrito              217 non-null    string
 15  precio_valor          251 non-null    Int64
 16  recomendado           261 non-null    boolean
 17  tiene_url_info        261 non-null    boolean
 18  tiene_url_imagen      261 non-null    boolean
dtypes: Int64(3), boolean(4), string(12)
memory usage: 33.5 KB

In [26]:
df_original.head(1)

,t칤tulo,descripci칩n,categor칤a,subcategor칤a,edad_min,edad_max,requiere_inscripcion,periodicidad,d칤a_d칤as,hora_inicio,hora_fin,fecha_inicio,fecha_fin,ciudad,distrito,precio_valor,recomendado,tiene_url_info,tiene_url_imagen
0,Talleres creativos en idioma serbio,Talleres creativos para ni침os y ni침as de 3 a16...,Cultura y Espect치culos. Educaci칩n,Idiomas. M칰sica. Talleres. Teatro Infantil,3,16,<NA>,<NA>,domingo,11:00,13:00,22/09/2024,22/06/2025,Madrid,Centro,0,True,False,True

### 2. carga dataframe listo ML

In [15]:
# seleccionar la fecha del csv
import os
import pandas as pd
# Definir ruta del archivo
directorio = '../data/processed/'
nombre_archivo_trabajo = 'actividades(261)_detalles_depuradoML_02mayo2025.csv'
ruta_archivo_trabajo = os.path.join(directorio, nombre_archivo_trabajo)

df_ml = pd.read_csv(ruta_archivo_trabajo)

In [16]:
df_ml.head()

,edad_min,edad_max,requiere_inscripcion,hora_inicio,hora_fin,precio_valor,recomendado,tiene_url_info,tiene_url_imagen,titulo_longitud,...,distrito_Carabanchel,distrito_Barajas,distrito_Moncloa-Aravaca,distrito_Fuencarral-El Pardo,distrito_Villaverde,precio_gratuito,precio_bajo,precio_medio,precio_alto,ciudad_Madrid
0,0.034213,0.061509,0,-1.291316,-1.271095,-0.063246,1,0,1,0.127032,...,0,0,0,0,0,1,0,0,0,1
1,1.687835,-0.911454,1,0.875340,0.654059,-0.063246,1,1,0,0.905329,...,0,0,0,0,0,1,0,0,0,1
2,2.018559,-0.911454,1,0.875340,0.654059,-0.063246,1,1,1,0.905329,...,0,0,0,0,0,1,0,0,0,1
3,1.687835,-1.154695,1,0.720579,0.505970,-0.063246,1,1,1,1.372307,...,0,0,0,0,0,1,0,0,0,1
4,2.018559,-0.911454,1,0.875340,0.654059,-0.063246,1,1,1,0.801556,...,0,0,0,0,0,1,0,0,0,1

In [17]:
df_ml.describe()

,edad_min,edad_max,requiere_inscripcion,hora_inicio,hora_fin,precio_valor,recomendado,tiene_url_info,tiene_url_imagen,titulo_longitud,...,distrito_Carabanchel,distrito_Barajas,distrito_Moncloa-Aravaca,distrito_Fuencarral-El Pardo,distrito_Villaverde,precio_gratuito,precio_bajo,precio_medio,precio_alto,ciudad_Madrid
count,261.000000,2.610000e+02,261.000000,2.610000e+02,2.610000e+02,2.610000e+02,261.0,261.000000,261.000000,2.610000e+02,...,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,261.0,261.0,261.0
mean,0.000000,-5.444772e-17,0.241379,2.314028e-16,-5.444772e-17,3.402982e-17,1.0,0.777778,0.773946,1.327163e-16,...,0.034483,0.011494,0.003831,0.003831,0.011494,0.957854,0.003831,0.0,0.0,1.0
std,1.001921,1.001921e+00,0.428742,9.527289e-01,3.823007e-01,9.825399e-01,0.0,0.416538,0.419078,1.001921e+00,...,0.182816,0.106798,0.061898,0.061898,0.106798,0.201307,0.061898,0.0,0.0,0.0
min,-0.957960,-3.343862e+00,0.000000,-2.374644e+00,-2.455805e+00,-6.324555e-02,1.0,0.000000,0.000000,-1.481448e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,1.0
25%,-0.957960,-4.249725e-01,0.000000,-9.817933e-01,0.000000e+00,-6.324555e-02,1.0,1.000000,1.000000,-7.550375e-01,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.0,1.0
50%,0.034213,5.479908e-01,0.000000,2.562958e-01,0.000000e+00,-6.324555e-02,1.0,1.000000,1.000000,-2.361729e-01,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.0,1.0
75%,0.695662,5.479908e-01,0.000000,8.753404e-01,0.000000e+00,-6.324555e-02,1.0,1.000000,1.000000,6.458970e-01,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.0,1.0
max,3.672181,5.479908e-01,1.000000,1.494385e+00,1.246414e+00,1.581139e+01,1.0,1.000000,1.000000,4.693041e+00,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,0.0,1.0

## Modelo recomendaci칩n KNN
(primer ejemplo sin filtrado previo)

In [71]:
import pandas as pd
# from df_to_ml import df_to_ml
from sklearn.neighbors import NearestNeighbors

# Crear y entrenar el modelo KNN
model = NearestNeighbors(n_neighbors=5, algorithm='auto')
model.fit(df_ml)

# Funci칩n para obtener recomendaciones dado un 칤ndice de actividad
def obtener_recomendaciones(indice_actividad, df_original, df_procesado, model, n_recommendations=5):
    """
    Obtiene recomendaciones de actividades similares a una actividad dada.
    
    Par치metros:
    -----------
    indice_actividad : int
        칈ndice de la actividad para la que se desean recomendaciones.
    df_original : DataFrame
        DataFrame original con toda la informaci칩n.
    df_procesado : DataFrame
        DataFrame procesado usado para el modelo.
    model : NearestNeighbors
        Modelo KNN entrenado.
    n_recommendations : int, opcional (default=5)
        N칰mero de recomendaciones a devolver.
        
    Retorna:
    --------
    DataFrame con las actividades recomendadas.
    """
    # Obtener las caracter칤sticas de la actividad seleccionada
    actividad_seleccionada = df_procesado.iloc[[indice_actividad]]
    
    # Encontrar los vecinos m치s cercanos
    distancias, indices = model.kneighbors(actividad_seleccionada, n_neighbors=n_recommendations+1)
    
    # Excluir la propia actividad (primera en la lista)
    indices = indices.flatten()[1:]
    distancias = distancias.flatten()[1:]
    
    # Crear DataFrame con las recomendaciones
    recomendaciones = df_original.iloc[indices].copy()
    recomendaciones['distancia'] = distancias
    
    # Ordenar por distancia (menor a mayor)
    recomendaciones = recomendaciones.sort_values('distancia')
    
    return recomendaciones

In [72]:
# Ejemplo de uso
indice_ejemplo = 24  # Por ejemplo, la actividad "Chatines: club de lectura infantil"
print(df_original.loc[indice_ejemplo,['t칤tulo', 'categor칤a', 'd칤a_d칤as', 'distrito','subcategor칤a']])

recomendaciones = obtener_recomendaciones(indice_ejemplo, df_original, df_ml, model)
print(recomendaciones[['t칤tulo', 'categor칤a', 'subcategor칤a', 'd칤a_d칤as', 'distrito', 'distancia']])

t칤tulo          Chatines: club de lectura infantil
categor칤a                   Cultura y Espect치culos
d칤a_d칤as                                    jueves
distrito                                 Chamart칤n
subcategor칤a                       Club de lectura
Name: 24, dtype: object
                             t칤tulo               categor칤a     subcategor칤a  \
171      'Hab칤a una vez una iguana'  Cultura y Espect치culos  Club de lectura
26                     Manualidades  Cultura y Espect치culos         Talleres
168               'Con mis manitas'  Cultura y Espect치culos  Club de lectura
227      'Hab칤a una vez una iguana'  Cultura y Espect치culos  Club de lectura
120  '1. 2, 3, dedos, manos y pies'  Cultura y Espect치culos  Club de lectura

      d칤a_d칤as       distrito  distancia
171     jueves         Tetu치n   7.357439
26      martes          Usera   7.553315
168  mi칠rcoles        Barajas   7.587350
227    viernes  Ciudad Lineal   7.634443
120     martes      Chamart칤n   7.727684

In [67]:
df_original.iloc[[indice_ejemplo]]

,t칤tulo,descripci칩n,categor칤a,subcategor칤a,edad_min,edad_max,requiere_inscripcion,periodicidad,d칤a_d칤as,hora_inicio,hora_fin,fecha_inicio,fecha_fin,ciudad,distrito,precio_valor,recomendado,tiene_url_info,tiene_url_imagen
24,Chatines: club de lectura infantil,쯈u칠 es el Club de Lectura Chatines?,Cultura y Espect치culos,Club de lectura,9,12,True,<NA>,jueves,17:30,18:30,27/02/2025,19/06/2025,Madrid,Chamart칤n,0,True,False,True

In [68]:
recomendaciones

,t칤tulo,descripci칩n,categor칤a,subcategor칤a,edad_min,edad_max,requiere_inscripcion,periodicidad,d칤a_d칤as,hora_inicio,hora_fin,fecha_inicio,fecha_fin,ciudad,distrito,precio_valor,recomendado,tiene_url_info,tiene_url_imagen,distancia
171,'Hab칤a una vez una iguana',Nunca es demasiado pronto para iniciar a los b...,Cultura y Espect치culos,Club de lectura,<NA>,<NA>,True,<NA>,jueves,17:30,<NA>,22/05/2025,22/05/2025,Madrid,Tetu치n,0,True,True,True,7.357439
26,Manualidades,"Taller de manualidades ideado, coordinado y ej...",Cultura y Espect치culos,Talleres,6,12,True,mensual,martes,18:00,19:30,25/03/2025,24/06/2025,Madrid,Usera,0,True,False,True,7.553315
168,'Con mis manitas',Nunca es demasiado pronto para iniciar a los b...,Cultura y Espect치culos,Club de lectura,<NA>,<NA>,True,<NA>,mi칠rcoles,17:30,<NA>,21/05/2025,21/05/2025,Madrid,Barajas,0,True,True,True,7.587350
227,'Hab칤a una vez una iguana',Nunca es demasiado pronto para iniciar a los b...,Cultura y Espect치culos,Club de lectura,<NA>,<NA>,True,<NA>,viernes,17:30,<NA>,30/05/2025,30/05/2025,Madrid,Ciudad Lineal,0,True,True,True,7.634443
120,"'1. 2, 3, dedos, manos y pies'",Nunca es demasiado pronto para iniciar a los b...,Cultura y Espect치culos,Club de lectura,<NA>,<NA>,True,<NA>,martes,17:30,<NA>,13/05/2025,13/05/2025,Madrid,Chamart칤n,0,True,True,True,7.727684

## Modelo recomendaci칩n KNN con filtrado previo

### Pasos previos de filtrado

In [88]:
# Valores permitidos de los filtros, condiciones o claves de busqueda:
categorias = [
    "La Ciudad", "Cultura y Espect치culos", "Educaci칩n", "Aire Libre", "Deporte"
]

subcategorias = {
    "La Ciudad": ["Actividades", "Carnaval", "Semana Santa", "Verano", "Centros de Atenci칩n a Las Familias", "Navidad"],
    "Cultura y Espect치culos": ["Cuentacuentos", "T칤teres y marionetas", "Magia", "Club de lectura", "Cine Infantil", 
                               "Circo", "Conciertos", "Exposiciones", "Monumentos", "Museos", "Proyecciones", 
                               "Talleres", "Teatro Infantil", "M칰sica", "Bailes"],
    "Educaci칩n": ["Ayudas y Becas", "Campamentos Urbanos", "Ludotecas", "Idiomas"],
    "Aire Libre": ["Actividades al Aire Libre", "Actividades con animales", "Parques y jardines"],
    "Deporte": ["Deportes de aventura", "Deportes de invierno", "Deportes acu치ticos", "Deportes de cancha", 
                "Roc칩dromos", "Deporte en la calle", "Carreras y eventos"]
}

rango_edades_validos = [(0, 3), (4, 6), (7, 9), (10, 12), (13, 15), (16, 18)]
dias_validos = ["lunes", "martes", "mi칠rcoles", "jueves", "viernes", "s치bado", "domingo", "d칤a de semana", "fin de semana"]
horarios_validos = ["ma침ana", "mediod칤a", "tarde", "noche"]
estaciones_validas = ["verano","invierno"]
duraciones_validas = ["corta", "media", "larga"]
distritos_madrid = ['Centro', 'Arganzuela', 'Retiro', 'Salamanca', 'Chamart칤n', 'Tetu치n', 'Chamber칤',
    'Fuencarral-El Pardo', 'Moncloa-Aravaca', 'Latina', 'Carabanchel', 'Usera',
    'Puente de Vallecas', 'Moratalaz', 'Ciudad Lineal', 'Hortaleza', 'Villaverde',
    'Villa de Vallecas', 'Vic치lvaro', 'San Blas-Canillejas', 'Barajas']
precios_validos = ["gratuito", "no gratuito"]

# Mostrar posibles valores
print("游꿢 Posibles valores para cada condici칩n:")
print(f"- Rango de edad: {rango_edades_validos}")
print(f"- Fecha: formato 'dd/mm/aaaa'")
print(f"- D칤a: {dias_validos}")
print(f"- Horario: {horarios_validos}")
print(f"- Estaci칩n: {estaciones_validas}")
print(f"- Duraci칩n: {duraciones_validas}")
print(f"- Distritos de Madrid: {distritos_madrid}")
print(f"- Ciudad: Madrid (obligatoria)")
print(f"- Precio: {precios_validos}")
print(f"- Categor칤as: {categorias}")
print("- Subcategor칤as por categor칤a:")
for cat, subs in subcategorias.items():
    print(f"   췅 {cat}: {subs}")

游꿢 Posibles valores para cada condici칩n:
- Rango de edad: [(0, 3), (4, 6), (7, 9), (10, 12), (13, 15), (16, 18)]
- Fecha: formato 'dd/mm/aaaa'
- D칤a: ['lunes', 'martes', 'mi칠rcoles', 'jueves', 'viernes', 's치bado', 'domingo', 'd칤a de semana', 'fin de semana']
- Horario: ['ma침ana', 'mediod칤a', 'tarde', 'noche']
- Estaci칩n: ['verano', 'invierno']
- Duraci칩n: ['corta', 'media', 'larga']
- Distritos de Madrid: ['Centro', 'Arganzuela', 'Retiro', 'Salamanca', 'Chamart칤n', 'Tetu치n', 'Chamber칤', 'Fuencarral-El Pardo', 'Moncloa-Aravaca', 'Latina', 'Carabanchel', 'Usera', 'Puente de Vallecas', 'Moratalaz', 'Ciudad Lineal', 'Hortaleza', 'Villaverde', 'Villa de Vallecas', 'Vic치lvaro', 'San Blas-Canillejas', 'Barajas']
- Ciudad: Madrid (obligatoria)
- Precio: ['gratuito', 'no gratuito']
- Categor칤as: ['La Ciudad', 'Cultura y Espect치culos', 'Educaci칩n', 'Aire Libre', 'Deporte']
- Subcategor칤as por categor칤a:
   췅 La Ciudad: ['Actividades', 'Carnaval', 'Semana Santa', 'Verano', 'Centros de Atenci칩n a Las Familias', 'Navidad']
   췅 Cultura y Espect치culos: ['Cuentacuentos', 'T칤teres y marionetas', 'Magia', 'Club de lectura', 'Cine Infantil', 'Circo', 'Conciertos', 'Exposiciones', 'Monumentos', 'Museos', 'Proyecciones', 'Talleres', 'Teatro Infantil', 'M칰sica', 'Bailes']
   췅 Educaci칩n: ['Ayudas y Becas', 'Campamentos Urbanos', 'Ludotecas', 'Idiomas']
   췅 Aire Libre: ['Actividades al Aire Libre', 'Actividades con animales', 'Parques y jardines']
   췅 Deporte: ['Deportes de aventura', 'Deportes de invierno', 'Deportes acu치ticos', 'Deportes de cancha', 'Roc칩dromos', 'Deporte en la calle', 'Carreras y eventos']

In [91]:
# Aqu칤 introduce el usuario sus condiciones (ejemplo de prueba)
condiciones_usuario = {
    'rango_edad': (4, 6),
    'fecha': '15/05/2025',
    'd칤a': 's치bado',
    'horario': 'ma침ana',
    'estaci칩n': '',
    'duraci칩n': 'corta',
    'distrito': 'Centro',
    'ciudad': 'Madrid',
    'precio': 'gratuito',
    'categor칤a': 'Cultura y espect치culos',
    'subcategor칤a': 'Teatro Infantil'
}

# Validaciones b치sicas
if 'ciudad' not in condiciones_usuario or condiciones_usuario['ciudad'].strip().lower() != 'madrid':
    print("\n丘멆잺  Modelo desarrollado solo para actividades en Madrid. Por favor, introduce 'Madrid' como ciudad.")
else:
    if 'categor칤a' in condiciones_usuario:
        categoria = condiciones_usuario['categor칤a']
        if categoria not in categorias:
            print(f"\n丘멆잺  Categor칤a inv치lida: {categoria}")
        elif 'subcategor칤a' in condiciones_usuario:
            subcat = condiciones_usuario['subcategor칤a']
            if subcat not in subcategorias[categoria]:
                print(f"\n丘멆잺  Subcategor칤a inv치lida: '{subcat}' no est치 en la categor칤a '{categoria}'")

# Mostrar condiciones introducidas
print("\n游닇 Condiciones introducidas por el usuario:")
for k, v in condiciones_usuario.items():
    print(f" - {k}: {v}")

丘멆잺  Categor칤a inv치lida: Cultura y espect치culos

游닇 Condiciones introducidas por el usuario:
 - rango_edad: (4, 6)
 - fecha: 15/05/2025
 - d칤a: s치bado
 - horario: ma침ana
 - estaci칩n:
 - duraci칩n: corta
 - distrito: Centro
 - ciudad: Madrid
 - precio: gratuito
 - categor칤a: Cultura y espect치culos
 - subcategor칤a: Teatro Infantil

Ahora introduzco una funci칩n de validaci칩n de las condiciones introducidas. Si alguna no se ha introducido, o no es valida se deja vac칤a. Madrid es condici칩n obligatoria, saltar칤a un mensaje de error.

He introducido una normalizaci칩n, para aceptar may칰sculas/ min칰sculas, con y sin acentos.

In [92]:
# Funciones para normalizar y validar condiciones introducidas por el usuario
import re
import unicodedata
from datetime import datetime

def normalizar(texto):
    if not isinstance(texto, str):
        return texto
    texto = texto.lower().strip()
    texto = unicodedata.normalize('NFD', texto)
    texto = ''.join(c for c in texto if unicodedata.category(c) != 'Mn')
    return texto

def validar_condiciones_usuario(condiciones_usuario):
    errores = []

    # Listas de valores v치lidos (sin normalizar, para referencia final)
    categorias = [
        "La Ciudad", "Cultura y Espect치culos", "Educaci칩n", "Aire Libre", "Deporte"
    ]
    subcategorias = {
        "La Ciudad": ["Actividades", "Carnaval", "Semana Santa", "Verano", "Centros de Atenci칩n a Las Familias", "Navidad"],
        "Cultura y Espect치culos": ["Cuentacuentos", "T칤teres y marionetas", "Magia", "Club de lectura", "Cine Infantil", 
                                "Circo", "Conciertos", "Exposiciones", "Monumentos", "Museos", "Proyecciones", 
                                "Talleres", "Teatro Infantil", "M칰sica", "Bailes"],
        "Educaci칩n": ["Ayudas y Becas", "Campamentos Urbanos", "Ludotecas", "Idiomas"],
        "Aire Libre": ["Actividades al Aire Libre", "Actividades con animales", "Parques y jardines"],
        "Deporte": ["Deportes de aventura", "Deportes de invierno", "Deportes acu치ticos", "Deportes de cancha", 
                    "Roc칩dromos", "Deporte en la calle", "Carreras y eventos"]
    }
    rango_edades_validos = [(0, 3), (4, 6), (7, 9), (10, 12), (13, 15), (16, 18)]
    dias_validos = ["lunes", "martes", "mi칠rcoles", "jueves", "viernes", "s치bado", "domingo", "d칤a de semana", "fin de semana"]
    horarios_validos = ["ma침ana", "mediod칤a", "tarde", "noche"]
    estaciones_validas = ["verano", "invierno"]
    duraciones_validas = ["corta", "media", "larga"]
    distritos_madrid = ['Centro', 'Arganzuela', 'Retiro', 'Salamanca', 'Chamart칤n', 'Tetu치n', 'Chamber칤',
                        'Fuencarral-El Pardo', 'Moncloa-Aravaca', 'Latina', 'Carabanchel', 'Usera',
                        'Puente de Vallecas', 'Moratalaz', 'Ciudad Lineal', 'Hortaleza', 'Villaverde',
                        'Villa de Vallecas', 'Vic치lvaro', 'San Blas-Canillejas', 'Barajas']
    precios_validos = ["gratuito", "no gratuito"]

    claves_validas = {
        'rango_edad', 'fecha', 'd칤a', 'horario', 'estaci칩n', 'duraci칩n',
        'distrito', 'ciudad', 'precio', 'categor칤a', 'subcategor칤a'
    }

    if not condiciones_usuario:
        errores.append("Debe introducirse al menos una condici칩n.")
        return errores

    # Detectar claves no reconocidas
    for clave in condiciones_usuario:
        if clave not in claves_validas:
            errores.append(f"Clave no reconocida: '{clave}'")

    # Validar ciudad
    ciudad = condiciones_usuario.get('ciudad', '')
    if normalizar(ciudad) != 'madrid':
        errores.append("丘멆잺 Ciudad inv치lida o no proporcionada. Por ahora, solo podemos proponerte actividades en 'Madrid'.")

    # Validar rango de edad
    if 'rango_edad' in condiciones_usuario:
        if condiciones_usuario['rango_edad'] not in rango_edades_validos:
            errores.append(f"Rango de edad inv치lido: {condiciones_usuario['rango_edad']}")

    # Validar fecha
    if 'fecha' in condiciones_usuario:
        try:
            datetime.strptime(condiciones_usuario['fecha'], "%d/%m/%Y")
        except ValueError:
            errores.append(f"Formato de fecha inv치lido: {condiciones_usuario['fecha']} (debe ser dd/mm/aaaa)")

    # Validar d칤a
    if 'd칤a' in condiciones_usuario:
        dia = normalizar(condiciones_usuario['d칤a'])
        if dia not in list(map(normalizar, dias_validos)):
            errores.append(f"D칤a inv치lido: {condiciones_usuario['d칤a']}")

    # Horario
    if 'horario' in condiciones_usuario:
        horario = normalizar(condiciones_usuario['horario'])
        if horario not in list(map(normalizar, horarios_validos)):
            errores.append(f"Horario inv치lido: {condiciones_usuario['horario']}")

    # Estaci칩n
    if 'estaci칩n' in condiciones_usuario and condiciones_usuario['estaci칩n']:
        estacion = normalizar(condiciones_usuario['estaci칩n'])
        if estacion not in list(map(normalizar, estaciones_validas)):
            errores.append(f"Estaci칩n inv치lida: {condiciones_usuario['estaci칩n']}")

    # Duraci칩n
    if 'duraci칩n' in condiciones_usuario:
        duracion = normalizar(condiciones_usuario['duraci칩n'])
        if duracion not in list(map(normalizar, duraciones_validas)):
            errores.append(f"Duraci칩n inv치lida: {condiciones_usuario['duraci칩n']}")

    # Distrito
    if 'distrito' in condiciones_usuario:
        distrito = normalizar(condiciones_usuario['distrito'])
        if distrito not in list(map(normalizar, distritos_madrid)):
            errores.append(f"Distrito inv치lido: {condiciones_usuario['distrito']}")

    # Precio
    if 'precio' in condiciones_usuario:
        precio = normalizar(condiciones_usuario['precio'])
        if precio not in list(map(normalizar, precios_validos)):
            errores.append(f"Precio inv치lido: {condiciones_usuario['precio']}")

    # Categor칤a y Subcategor칤a
    if 'categor칤a' in condiciones_usuario:
        cat_usuario = condiciones_usuario['categor칤a']
        cat_normal = normalizar(cat_usuario)
        cat_match = None
        for cat in categorias:
            if normalizar(cat) == cat_normal:
                cat_match = cat
                break
        if not cat_match:
            errores.append(f"Categor칤a inv치lida: {cat_usuario}")
        else:
            if 'subcategor칤a' in condiciones_usuario:
                subcat_usuario = condiciones_usuario['subcategor칤a']
                subcat_normal = normalizar(subcat_usuario)
                subcat_match = [s for s in subcategorias[cat_match] if normalizar(s) == subcat_normal]
                if not subcat_match:
                    errores.append(f"Subcategor칤a inv치lida: '{subcat_usuario}' no pertenece a la categor칤a '{cat_match}'")

    return True if not errores else errores

In [94]:
resultado = validar_condiciones_usuario(condiciones_usuario)
if resultado is True:
    print("九 Condiciones v치lidas.")
else:
    print("仇 Errores encontrados:")
    for err in resultado:
        print(f" - {err}")

九 Condiciones v치lidas.